# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" (content covers loading data from a currupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

#  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [60]:
import pandas as pd

In [61]:
df1 = pd.read_csv('Data/Zipcode_Demos.csv', skiprows=46)
df1.head(10)

,46,COUNT PUBLIC ASSISTANCE TOTAL,9.4,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,47,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
1,48,10001,44,22,0.5,22,0.5,0,0,44,...,44,100,20,0.45,24,0.55,0,0,44,100
2,49,10002,35,19,0.54,16,0.46,0,0,35,...,35,100,2,0.06,33,0.94,0,0,35,100
3,50,10003,1,1,1,0,0,0,0,1,...,1,100,0,0,1,1,0,0,1,100
4,51,10004,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,52,10005,2,2,1,0,0,0,0,2,...,2,100,0,0,2,1,0,0,2,100
6,53,10006,6,2,0.33,4,0.67,0,0,6,...,6,100,0,0,6,1,0,0,6,100
7,54,10007,1,0,0,1,1,0,0,1,...,1,100,1,1,0,0,0,0,1,100
8,55,10009,2,0,0,2,1,0,0,2,...,2,100,0,0,2,1,0,0,2,100
9,56,10010,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
df2 = pd.read_csv('Data/Zipcode_Demos.csv', nrows=45, skiprows=1, usecols=[0,1,2])
#df = df.drop('column_name', 1) #where 1 is the axis number (0 for rows and 1 for columns.)
df2.head(20)

     1                  Unnamed: 1          0
0    2           JURISDICTION NAME  10005.800
1    3          COUNT PARTICIPANTS      9.400
2    4                COUNT FEMALE      4.800
3    5              PERCENT FEMALE      0.404
4    6                  COUNT MALE      4.600
5    7                PERCENT MALE      0.396
6    8        COUNT GENDER UNKNOWN      0.000
7    9      PERCENT GENDER UNKNOWN      0.000
8   10          COUNT GENDER TOTAL      9.400
9   11        PERCENT GENDER TOTAL     80.000
10  12      COUNT PACIFIC ISLANDER      0.000
11  13    PERCENT PACIFIC ISLANDER      0.000
12  14       COUNT HISPANIC LATINO      2.000
13  15     PERCENT HISPANIC LATINO      0.105
14  16       COUNT AMERICAN INDIAN      0.000
15  17     PERCENT AMERICAN INDIAN      0.000
16  18    COUNT ASIAN NON HISPANIC      3.600
17  19  PERCENT ASIAN NON HISPANIC      0.437
18  20    COUNT WHITE NON HISPANIC      0.800
19  21  PERCENT WHITE NON HISPANIC      0.036

In [63]:
df.to_csv('TestSaved.csv', index=False)

## Level Up (Optional)

### Loading Corrupt CSV files

Occassionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is suppossed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restuarant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restuarant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

In [ ]:
#Your code here